@import url(~/styles/main.css);




/* Homepage style */
.home {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #51a7d3;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    float: left;
    width: 70%;
    padding: 20px;
    background-color: #f4f4f4;
}

aside {
    float: right;
    width: 30%;
    padding: 15px;
    color: white;
    background-color: #e86c2d;
}

footer {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #393f4a;
    color: white;
}



/*
         .web {
            width: 800px;
            height: 1000px;
            background-image: url(https://dummyimage.com/800x600/000/fff), url(https://dummyimage.com/800x300/555/fff);
            background-size: 300px 200px, 300px 100px;
            background-repeat: no-repeat, no-repeat;
            background-position: center 0px, center 200px;
        }
    

        <div class="web"></div>

this could be help[ful i found it on stakx overflow
https://stackoverflow.com/questions/40806931/how-to-add-multiple-images-in-background-body
*/